*.sh
*.svg
/plots
!/plots/contact_networks/
!/plots/empirical_observations/
!/plots/intervention_measures/
/data
/code/cluster_scripts
code/__pycache__/
code/calibration/__pycache__/
code/sensitivity_analysis/__pycache__/
.ipynb_checkpoints/
code/.ipynb_checkpoints/
code/intervention_measures/delta/.ipynb_checkpoints/
code/intervention_measures/wild_type/.ipynb_checkpoints/
code/calibration/.ipynb_checkpoints/
code/intervention_measures/.ipynb_checkpoints/
code/visualizations/.ipynb_checkpoints/
code/sensitivity_analysis/.ipynb_checkpoints/
code/intervention_measures/delta/__pycache__/
code/intervention_measures/wild_type/__pycache__/
code/intervention_measures/__pycache__/
code/vaccinations/__pycache__
code/vaccinations_omicron/__pycache__
code/sensitivity_analysis/tmp
code/misc_analysis/
code/network_construction/
code/sensitivity_analysis_old/
code/calibration_old/
code/data_wrangling/